body {
	background: url("../images/dark_embroidery.png");
}

.row {
	margin-bottom: 10px;
}

.randomNumberDiv {
	background-color: lightgreen;
}

.winsLossesDiv {
	background-color: lightblue;
}

.scoreDiv {
	background-color: pink;
}

img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}